extends layout

block content
 form.comment-form(method='post', action='/contacts/addContact')
        .form-group
          label First name
          input.form-control(type='text', name='firstName')
        .form-group
          label Last name
          input.form-control(type='text', name='lastName')  
        .form-group
          label Email
          input.form-control(type='text', name='email')
        .form-group
          label Phone Number
          input.form-control(type='text', name='phoneNumber')
          br
          input.btn(type='submit', value='Add contact')   