extends layout

block content
        .row
            form.col-6.contact-form(method='post', action='/contacts/createContact')
                .form-group
                    label First name
                    input.form-control(type='text', name='firstName')
                .form-group
                    label Last name
                    input.form-control(type='text', name='lastName')  
                .form-group
                    label Email
                    input.form-control(type='text', name='email')
                .form-group
                    label Phone Number
                    input.form-control(type='text', name='phoneNumber')
                    br
                    input.btn(type='submit', value='Add contact') 
            .col-6.errors
                if errors        
                    each error in errors
                        .alert.alert-danger #{error.msg}
        .log
            if contact
                h3 Response Log
                table.table
                    thead
                        tr
                            th(scope="col") First Name
                            th(scope="col") Last Name
                            th(scope="col") Email
                            th(scope="col") Phone Number
                            th(scope="col") Status
                    tbody
                        tr
                            each prop in contact.body
                                td #{prop}
                            td
                                if contact.valid 
                                    .alert.alert-success Valid
                                    if contact.success
                                        .alert.alert-success Successfully added
                                    else 
                                        .alert.alert-danger Contact already exists
                                else
                                    .alert.alert-danger Not valid
