extends layout

block content
        .row
            form.col-6.contact-form(method='post', action='/contacts/addContact')
                .form-group
                    label First name
                    input.form-control(type='text', name='firstName')
                .form-group
                    label Last name
                    input.form-control(type='text', name='lastName')  
                .form-group
                    label Email
                    input.form-control(type='text', name='email')
                .form-group
                    label Phone Number
                    input.form-control(type='text', name='phoneNumber')
                    br
                    input.btn(type='submit', value='Add contact') 
            .col-6.errors
                if errors        
                    each error in errors
                        div.alert.alert-danger #{error.msg}
            .col-6.success
                if message        
                    div.alert.alert-success #{message}
